{% extends "article/base.html" %}
{% load staticfiles %}
{% load custom_markdown %}


{% block introheader %}
<header class="intro-header" style="background-image: url('../../static/img/archive-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Archive</h1>
                    <hr class="small">
                    <span class="subheading">How I Became Stronger.</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% regroup date_list by pub_date|date:'Y' as year_list %}
            <ul>
                {% for year in year_list %}
                <li class="archive-year"> <a href="{{ year.grouper }}">{{ year.grouper }}</a>
                    {% regroup year.list by pub_date|date:"F" as month_list %}
                    <ul>
                        {% for month in month_list %}
                        <li class="archive-month"><a href="{{ year.grouper }}/{{ month.list.0.pub_date|date:'m' }}">{{ month.grouper }}</a> -- {{ month.list|length }} entr{{ month.list|length|pluralize:"y,ies" }}</li>
                        {% endfor %}
                    </ul>
                </li>
                <hr>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}