{% extends "article/base.html" %}
{% load staticfiles %}

{% block introheader %}
<!-- every page title -->
<header class="intro-header" style="background-image: url('../../static/img/category-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Category</h1>
                        <hr class="small">
                        <span class="subheading">What I dive into.</span>
                    </div>
                </div>
            </div>
        </div>
</header>
{% endblock %}

<!-- Main Content -->
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h3> {{ category }} </h3>
            <ul class="archive-year">
                {% for article in articles %}
                <li><a href="/post/{{ article.id }}">{{ article.title }},</a> {{ article.pub_date|date:"M d, Y" }}</li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>
{% endblock %}